---
layout: project
title: Welcome
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  / Main hero unit for a primary marketing message or call to action
  #myCarousel.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
    / Carousel items
    .carousel-inner
      .active.item
        %img(src="/images/carousel_img1.png")
      .item
        %img(src="/images/carousel_img2.png")
      .item
        %img(src="/images/carousel_img3.png")
      .item
        %img(src="/images/carousel_img4.png")
    / Carousel nav
    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

.row-fluid
  .hero-unit
    %h1 
      %i.icon-heart
      Sponsor Us!    
    Sponsoring us will do wonders to your feel-good factor, your karma and most importantly, your bragging rights.
    We're not asking for much - a million dollars or so - and we prefer donations in small, unmarked bills.
    Want to know how to donate?  Get in touch!  Or better still, just click:
    %br
    %a.btn.btn-primary{:href => "#", :role => "button", :target => "_NEW"}
      %i.icon-money
      &nbsp;&nbsp;Donate&nbsp;&nbsp;
      %i.icon-money


/ section containing blog posts
.row-fluid.posts
  .span4.well
    %h2 
      %i.icon-rocket
      What this is about?
    %p
      Every year a group of idiots decide to drive across Western Africa, from Plymouth in the UK to Banjul in the Gambia in pursuit of fortune and glory, raising money for good causes and to have some adventures along the way.  May involve lions.  The point is to attempt the drive in a car worth just a few hundred pounds/euros, and if it survives the 3700 mile (5920 km for you EuroTrash readers) journey, it is flogged to the highest bidder with proceeds going to charity.  May again involve lions.  Yay lions.
    %p
      Read more about the challenge 
      %a(href="http://www.dakarchallenge.co.uk/challenge/banjul+challenge/") here.

    %h2
      %i.icon-group
      Meet the team!
    %p
      %ul
      - site.people.each do |name, p|
        %li
          = partial("profile.html.haml", {"profile" => p, "user" => name})
    %h2
      %i.icon-question
      Why are we doing this?
    %p
      For the same reasons that Mallory and Irvine attempted climbing Everest, for the same reasons that Amundsen and Scott raced to the south pole, we're attempting to do this 
      %b
        %i because it's there!



  .span4.well
    %h2
      %i.icon-map-marker
      Our route
    %iframe{:width=>"281", :height=>"485", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"http://maps.google.com/maps/ms?ie=UTF8&amp;t=h&amp;msa=0&amp;msid=101230591946158674259.000482153d1f1e74501c0&amp;ll=35.603719,-3.691406&amp;spn=66.98357,49.21875&amp;z=3&amp;output=embed"}

  = partial( 'tweets.html.haml' )
