-# Latest news - reads an RSS feed from banjulbound.wordpress.com
- real_page = page["real_page"]
.span4.well
  %h2
    %i.icon-facebook
    Facebook
  %div(class="fb-like-box" data-href="http://www.facebook.com/banjulbound" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false")
