%p
  Technologist, entrepreneur and author. Proven skills and strong interest in high availability, distributed and cloud computing, big data and mobile and wireless technology. Keen advocate of open source software and standards.
%p
  Frequent public speaker at technology conferences and blogger on data grids and distributed computing.
%p
  Technology stack angostic, with experience in Java, Scala, Python and C++.
%p
  Specialties: Open source software, distributed and cloud computing, mobile computing, enterprise technologies, big data, entrepreneurship, leadership, agile software development.