%div.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "manik", :style => "text-align: left;"}
  .modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×&nbsp;&nbsp;
  %h4#myModalLabel &nbsp;&nbsp;About Manik
  .modal-body{:style => "max-height: 500px;"}    
    %img{:src=>"http://m.c.lnkd.licdn.com/mpr/pub/image-UT47FzxCG7oxJsJy336htwj-wjsOLsW12OeCUiKTwiaP9J4LUT4CbYUCw1469HqaYpHE/manik-surtani.jpg", :height => "100px", :width => "100px", :class => "pull-left", :style => "margin-right: 15px;"}
    %p
      Manik is a software engineer and entrepreneur with a passion for adventure and all things Africa.  A Sri Lankan by birth, he currently lives in San Francisco, having arrived here via Singapore and London.
      %br
      %br
      %a{"href" => "http://twitter.com/maniksurtani", "class" => "twitter-follow-button", "data-show-count" => "true", "data-lang" => "en", "data-align" => "left"}

    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal", "class" => "pull-right"} Close
