%div.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "paul", :style => "text-align: left;"}
  .modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×&nbsp;&nbsp;
  %h4#myModalLabel &nbsp;&nbsp;About Paul
  .modal-body{:style => "max-height: 500px;"}    
    %img{:src=>"http://images3.wikia.nocookie.net/__cb20120725230831/spongebob/images/f/f5/SpongeBob_SquarePants_Smiling_-_Artwork.png", :height => "100px", :width => "100px", :class => "pull-left", :style => "margin-right: 15px;"}
    %p
      Nobody knows very much about Paul.

    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal", "class" => "pull-right"} Close
