%footer.container
  .row-fluid
    .span2.offset1
      %h4 Navigate
      %ul
        %li
          %a{:href => "http://www.dakarchallenge.co.uk/challenge/banjul+challenge/", :title => "Challenge"} The Challenge
        %li
          %a{:href => "/team", :title => "Team"} The Team
        %li
          %a{:href => "/sponsorship", :title => "Sponsorship"} Sponsorship
        %li
          %a{:href => "/getinvolved", :title => "Get Involved"} Get Involved
    .span2
      %h4 Follow Us
      %ul
        %li
          %a{:href => "http://banjulbound.wordpress.com", :title => "Blog", :target => "_blank"}
            Blog
            %i.icon-comments
        %li
          %a{:href => "http://twitter.com/BanjulBound", :title => "Twitter", :target => "_blank"}
            Twitter
            %i.icon-twitter
        %li
          %a{:href => "https://www.facebook.com/banjulbound", :title => "Facebook", :target => "_blank"}
            Facebook
            %i.icon-facebook

    .span2
      %h4 Thanks to
      %p ActionAid
      %a{:href=>"http://www.actionaid.org.uk/donate/rebuild", :alt=>"ActionAid", :target=>"_NEW"}
        %img(src="/images/actionaid.jpg")
  .span10
    %p{:style => "margin-top: 5px; font-size: 80%;"}
      © Copyright 2013 Manik Surtani
      %br
      %i.icon-fire
      Made with
      %a{:href => "https://github.com/jbossorg/bootstrap-community", :style=>"text-decoration: underline;", :target=> "_NEW"}JBoss Community Bootstrap
      and
      %a{:href => "http://awestruct.org/", :style=>"text-decoration: underline;", :target=> "_NEW"}Awestruct
      %br
      %i.icon-globe
      This website is open source! If you want to improve it, 
      %a{:href => "http://github.com/maniksurtani/banjulbound", :style=>"text-decoration: underline;", :target=> "_NEW"}fork the project,
      and hack on it, then send a pull request.
      %br
      %i.icon-share
      Website released under
      %a{:href => "http://creativecommons.org/licenses/by/3.0/", :style=>"text-decoration: underline;", :target=> "_NEW"}CC BY 3.0.
    

