%div.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "ted", :style => "text-align: left;"}
  .modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×&nbsp;&nbsp;
  %h4#myModalLabel &nbsp;&nbsp;About Richard
  .modal-body{:style => "max-height: 500px;"}    
    %img{:src=>"http://www.celebrityphotosbio.com/wp-content/uploads/2014/01/Little-Richard-Wallpapers-13.jpg", :height => "200px", :width => "200px", :class => "pull-left", :style => "margin-right: 15px;"}
    %p
      All-round adventurer.
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal", "class" => "pull-right"} Close
