%div.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "ted", :style => "text-align: left;"}
  .modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×&nbsp;&nbsp;
  %h4#myModalLabel &nbsp;&nbsp;About Richard
  .modal-body{:style => "max-height: 500px;"}    
    %img{:src=>"http://us.123rf.com/400wm/400/400/sirup/sirup0904/sirup090400065/4769043-business-man-with-yellow-smiley-face.jpg", :height => "100px", :width => "100px", :class => "pull-left", :style => "margin-right: 15px;"}
    %p
      All-round adventurer.
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal", "class" => "pull-right"} Close
