%div.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "ted", :style => "text-align: left;"}
  .modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×&nbsp;&nbsp;
  %h4#myModalLabel &nbsp;&nbsp;About Ted
  .modal-body{:style => "max-height: 500px;"}    
    %img{:src=>"https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc3/1919_71239830504_271_n.jpg", :height => "100px", :width => "100px", :class => "pull-left", :style => "margin-right: 15px;"}
    %p
      Entrepreneur with a talent for combining IT, business process and document management. Has worked almost exclusively with fortune 500 companies and governments in the US, South Africa and the Middle East. Understands complicated business requirements such as regulatory compliance in pharma, transmittals in oil and gas and manufacturing while having a hands-on technical understanding of the latest technology trends. The correct solution not only satisfies business requirements and reduces maintenance costs but is also on the correct technological path. The next technological wave should enhance the solution, not make it obsolete.

    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal", "class" => "pull-right"} Close


